{% extends 'index/courseLearn/courseLearnBase.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{courseDetail.Course_Name}} - iMooc在线教育资源平台</title>
    {% block extrastatic %}
    {{ block.super }}
    <!-- courseFilePreview -->
    <link rel="stylesheet" href="{% static 'index/css/courseFilePreview.css' %}">

    <!-- bootstrap-select -->
    <link rel="stylesheet" href="{% static 'bootstrap-select/css/bootstrap-select.min.css' %}">

    {% endblock extrastatic %}
</head>

<body>

    {% block learnContent %}
    <div class="Selector">
        <ul class="breadcrumb">
            <li><a href="{% url 'index:Content' courseid %}">课件</a></li>
            <li>
                <select class="ChapterSelector" id="ChapterSelector">
                    {% for Chapter in Chapters %}
                    <option>{{Chapter}}</option>
                    {% endfor %}
                </select>
            </li>
            <li>
                <select class="SectionSelector" id="SectionSelector">
                </select>
            </li>
        </ul>
    </div>

    <div class="fileList">
        {% include 'index/AjaxTemplate/CourseFilePreview.html' %}
    </div>

    <!-- basic js -->
    <script src="{%static 'index/js/courseLearnContent.js' %}"></script>

    <!-- bootstrap-select -->
    <script src="{% static 'bootstrap-select/js/bootstrap-select.min.js' %}"></script>

    {% endblock learnContent %}

</body>

</html>