{% extends 'index/courseLearn/courseLearnBase.html' %}
{% load static %}
{% load comments %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{courseDetail.Course_Name}} - iMooc在线教育资源平台</title>

    {% block extrastatic %}
    {{ block.super }}
    <!-- basicStatic -->
    <link rel="stylesheet" href="{% static 'index/css/courseLearnComment.css' %}">

    {% endblock extrastatic %}
    {{ block.super }}
</head>

<body>
    {% block learnContent %}

    {% if user.is_authenticated %}
    <div class="Comment">
        <!-- 分页 -->
        <div class="pages">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <!-- 上一页 -->
                    {% if Comments.has_previous %}
                    <li><a href="?page=1" aria-label="First"><span aria-hidden="true">&laquo;</span></a></li>
                    <li><a href="?page={{Comments.previous_page_number}}" aria-label="Previous"><span
                                aria-hidden="true">&lsaquo;</span></a></li>
                    {% else %}
                    <li class="disabled"><span aria-hidden="true">&laquo;</span></li>
                    <li class="disabled"><span aria-hidden="true">&lsaquo;</span></li>
                    {% endif %}

                    <!-- 页码 -->
                    {% for page in Comments.paginator.page_range %}
                    {% if Comments.number == page %}
                    <li class="active"><a href="?page={{page}}">{{page}}</a></li>
                    {% else %}
                    <li><a href="?page={{page}}">{{page}}</a></li>
                    {% endif %}
                    {% endfor %}

                    <!-- 下一页 -->
                    {% if Comments.has_next %}
                    <li><a href="?page={{Comments.next_page_number}}" aria-label="Next"><span
                                aria-hidden="true">&rsaquo;</span></a></li>
                    <li><a href="?page={{Comments.paginator.num_pages}}" aria-label="Last"><span
                                aria-hidden="true">&raquo;</span></a></li>
                    {% else %}
                    <li class="disabled"><span aria-hidden="true">&rsaquo;</span></li>
                    <li class="disabled"><span aria-hidden="true">&raquo;</span></li>
                    {% endif %}

                </ul>
            </nav>
        </div>
        <div class="CommentList">
            {% for comment in Comments %}
            <div class="CommentBody">
                <div class="Author">
                    {% if comment.user == course.Course_Teacher %}
                    <span>[开课教师]{{comment.user_name}}: </span>
                    {% elif comment.user in course.Assistant_Teacher.all%}
                    <span>[助理教师]{{comment.user_name}}: </span>
                    {% else %}
                    <span>{{comment.user_name}}: </span>
                    {% endif %}
                </div>
                <div class="Content">
                    <span>{{comment.comment}}</span>
                </div>
                <div class="PublishDate">
                    <span>{{comment.submit_date}}</span>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- 分页 -->
        <div class="pages">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <!-- 上一页 -->
                    {% if Comments.has_previous %}
                    <li><a href="?page=1" aria-label="First"><span aria-hidden="true">&laquo;</span></a></li>
                    <li><a href="?page={{Comments.previous_page_number}}" aria-label="Previous"><span
                                aria-hidden="true">&lsaquo;</span></a></li>
                    {% else %}
                    <li class="disabled"><span aria-hidden="true">&laquo;</span></li>
                    <li class="disabled"><span aria-hidden="true">&lsaquo;</span></li>
                    {% endif %}

                    <!-- 页码 -->
                    {% for page in Comments.paginator.page_range %}
                    {% if Comments.number == page %}
                    <li class="active"><a href="?page={{page}}">{{page}}</a></li>
                    {% else %}
                    <li><a href="?page={{page}}">{{page}}</a></li>
                    {% endif %}
                    {% endfor %}

                    <!-- 下一页 -->
                    {% if Comments.has_next %}
                    <li><a href="?page={{Comments.next_page_number}}" aria-label="Next"><span
                                aria-hidden="true">&rsaquo;</span></a></li>
                    <li><a href="?page={{Comments.paginator.num_pages}}" aria-label="Last"><span
                                aria-hidden="true">&raquo;</span></a></li>
                    {% else %}
                    <li class="disabled"><span aria-hidden="true">&rsaquo;</span></li>
                    <li class="disabled"><span aria-hidden="true">&raquo;</span></li>
                    {% endif %}

                </ul>
            </nav>
        </div>

        {% get_comment_form for course as form %}
        <div class="PostArea">
            <table>
                <form action="{% comment_form_target %}" id="PostCommentForm" method="post">
                    {% csrf_token %}
                    <div class="CommentEditor">
                        <label for="comment">评论</label>
                        {{ form.comment }}
                    </div>
                    <div class="enclosure" hidden>
                        {{ form.honeypot }}
                        {{ form.content_type }}
                        {{ form.object_pk }}
                        {{ form.timestamp }}
                        {{ form.security_hash }}
                    </div>
                    <tr>
                        <td colspan="2">
                            <input type="submit" id="Post" name="submit" value="发布">
                            <input type="hidden" name="next" value="{% url 'index:Comment' courseid %}" />
                        </td>
                    </tr>
                </form>
            </table>
        </div>

    </div>
    {% endif %}

    <!-- basicStatic -->
    <script src="{% static 'index/js/courseLearnComment.js' %}"></script>

    {% endblock learnContent %}
</body>

</html>