{% extends 'index/index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {{courseDetail.Course_Name}} - iMooc在线教育资源平台{% endblock title %}</title>

    {% block extrastatic %}
    <!-- Basic Static -->
    <link rel="stylesheet" href="{% static 'index/css/courseLearnBase.css' %}">
    {% endblock extrastatic %}

</head>

<body>
    {% block content %}
    <ul class="breadcrumb">
        <li><a class="Index" href="/index/">主页</a></li>
        <li><a class="Category" href="{% url 'index:category' courseDetail.Course_Category.ParentID.CategoryID %}"
                id="{{courseDetail.Course_Category.CategoryID}}">{{courseDetail.Course_Category}}</a></li>
        <li><a class="Course" href="{% url 'index:courseInfo' courseid %}">{{courseDetail.Course_Name}}
            </a>
        </li>
        <li class="active"><a href="{% url 'index:Learn' courseid %}">课程学习
            </a>
        </li>
    </ul>
    <div class="header">
        <div class="courseInfo">
            <div class="courseName">
                <a href="{% url 'index:courseInfo' courseid %}">
                    <h4>{{courseDetail.Course_Name}}</h4>
                </a>
            </div>
            <div class="teachers">
                <a href="#">
                    <h5>{{courseDetail.Course_Teacher}}</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="navSideBar">
            <div class="courseImage">
                <img src="{{courseDetail.Course_Img}}" alt="课程图片">
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li name="Notices"><a href="{% url 'index:Notice' courseid %}">公告</a></li>
                <li name="Grading"><a href="{% url 'index:Grading' courseid %}">评分标准</a></li>
                <li name="Content"><a href="{% url 'index:Content' courseid %}">课件</a></li>
                <li name="Exercise"><a href="{% url 'index:Exercise' courseid %}">测试与作业</a></li>
                <li name="Examination"><a href="{% url 'index:Examination' courseid %}">考试</a></li>
                <li><a href="#">讨论区</a></li>
            </ul>

        </div>
        <div class="mainContainer">
            {% block learnContent %}
            {% endblock learnContent %}
        </div>
    </div>

    <script src="{% static 'index/js/setBreadcrumbHref.js' %}"></script>

    {% endblock content %}
</body>

</html>