{% extends 'index/courseLearn/courseLearnBase.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% block learnContent %}
    <div class="Selector">
        <ul class="breadcrumb">
            <li><a href="{% url 'index:Content' courseid %}">课件</a></li>
            <li>
                <select class="ChapterSelector">
                    {% for Chapter in Chapters %}
                    <option>{{Chapter}}</option>
                    {% endfor %}
                </select>
            </li>
            <li>
                <select class="SectionSelector">
                </select>
            </li>
        </ul>
    </div>

    <div class="fileList">
        <table class="table table-hover fileTable">
            <tr>
                <th>课程资源</th>
            </tr>

        </table>
    </div>
    <script src="{%static 'index/js/courseLearnContent.js' %}"></script>
    {% endblock learnContent %}

</body>

</html>