{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>头像设置</title>
</head>
<body>
    <form role="form" method="POST" id="avatar">
        <div>
            <p>当前头像:</p>
            <img src="{{ avatar }}" height="100" width="100">
        </div>
        <br>
        <div class="mui-textfield mui-textfield--float-label">
            {{ profileForm.avatar.label_tag }}
            {{ profileForm.avatar }}
        </div>
    </form>
</body>
</html>