{% extends 'index/courseSettingBase.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}章节管理 - {{courseDetail.Course_Name}} iMooc在线教育资源平台{% endblock title %}</title>
    {% block extrastatic %}
    {{ block.super }}
    <!-- basic static -->
    <link rel="stylesheet" href="{% static 'index/css/courseSettingChapter.css' %}">

    <!-- bootstrap-select -->
    <link rel="stylesheet" href="{% static 'bootstrap-select/css/bootstrap-select.min.css' %}">

    <!-- Bootstrap Fileinput -->
    <link rel="stylesheet" type="text/css" href="{% static 'fileinput/css/fileinput.css' %}">
    {% endblock extrastatic %}

<body>

    {% block content %}
    {{ block.super }}
    <div class="mainContainer">
        <div class="Selector">
            <ul class="breadcrumb">
                <li><a href="{% url 'index:Content' courseid %}">课件</a></li>
                <li>
                    <select id="ChapterSelector" class="ChapterSelector">
                        {% for Chapter in Chapters %}
                        <option>{{Chapter}}</option>
                        {% endfor %}
                    </select>
                </li>
                <li>
                    <select id="SectionSelector" class="SectionSelector">
                    </select>
                </li>
            </ul>
        </div>
        <div class="fileUploadForm">
            <form action="" method="POST" enctype="multipart/form-data" class="form-horizontal" id="fileForm">
                {% csrf_token %}
                <label id="currentSection" hidden>null</label>
                <label for="{{FilesForm.courseFile.id_for_label}}" class="control-label col-sm-2">课程文件上传:</label>
                <label class="control-label">文件支持mp3,mp4,pdf,png,jpg格式</label>
                <div class="file-loading">
                    <input id="input-CourseFiles" name="input-CourseFiles" multiple type="file">
                </div>
            </form>
        </div>
        <div class="form-group">
            <div class="fileList">
                <div class="toolBar" id="fileToolBar">
                    <button type="button" id="deleteFilesButton" class="btn btn-danger" disabled>删除文件</button>
                </div>
                <div class="fileDisplayList" id="fileDisplayList">
                    <table class="table table-hover fileTable">
                        <thead>
                            <tr id="fileTableHeader">
                                <th>
                                    <input type="checkbox" class="selectAll">
                                </th>
                                <th>课件名称</th>
                                <th>下载资源</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    
    <!-- basic static -->
    <script src="{% static 'index/js/courseSettingChapter.js' %}"></script>

    <!-- bootstrap-select -->
    <script src="{% static 'bootstrap-select/js/bootstrap-select.min.js' %}"></script>

    <!-- Bootstrap Fileinput -->
    <script src="{% static 'fileinput/js/fileinput.js' %}"></script>
    <script src="{% static 'fileinput/js/locales/zh.js' %}"></script>
    {% endblock content %}

</body>

</html>