{% extends 'index/index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extrastatic %}
    <link rel="stylesheet" type="text/css" href="{% static 'index/css/courseSettingBase.css' %}">
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block content %}
    <div>
        <ul class="breadcrumb">
            <li><a class="Index" href="/index/">主页</a></li>
            <li><a class="Category" href="{% url 'index:category' courseDetail.Course_Category.ParentID.CategoryID %}"
                    id="{{courseDetail.Course_Category.CategoryID}}">{{courseDetail.Course_Category}}</a></li>
            <li><a class="Course" href="{% url 'index:courseInfo' courseid %}">{{courseDetail.Course_Name}}
                </a>
            </li>
            <li class="active"><a href="{% url 'index:courseSetting' courseid %}">课程设置
                </a>
            </li>
        </ul>
    </div>
    <div class="navSideBar">
        <ul class="nav nav-pills nav-stacked">
            <li role="basicInfo"><a href="{% url 'index:courseSetting' courseid %}">基础设置</a></li>
            <li role="studentManagement"><a href="{% url 'index:studentSetting' courseid %}">学生管理</a></li>
            <li role="annoucementManage"><a href="{% url 'index:noticeSetting' courseid %}">公告管理</a></li>
            <li role="chapterManagement"><a href="{% url 'index:chapterSetting' courseid %}">章节管理</a></li>
            <li role="QuestionBankManagement"><a href="{% url 'index:questionBank' courseid %}">题库维护</a></li>
            <li role="PaperManagement"><a href="{% url 'index:paperManagement' courseid %}">试卷管理</a></li>
        </ul>
    </div>

    <script src="{% static 'index/js/setBreadcrumbHref.js' %}"></script>
    {% endblock %}
</body>

</html>