{% extends 'index/courseSettingBase.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} 基础设置 - {{courseDetail.Course_Name}} iMooc在线教育资源平台 {% endblock %}</title>
    {% block extrastatic %}
    {{ block.super }}
    <!-- cropperjs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" integrity="sha512-0SPWAwpC/17yYyZ/4HSllgaK7/gg9OlVozq8K7rf3J8LvCjYEEIfzzpnA2/SSjpGIunCSD18r3UhvDcu/xncWA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- basic static -->
    <link rel="stylesheet" type="text/css" href="{% static 'index/css/courseSettingInfo.css' %}">
    <!-- FancyTree -->
    <link rel="stylesheet" type="text/css" href="{% static 'index/css/treeView.css' %}">

    <!-- Bootstrap Fileinput -->
    <link rel="stylesheet" type="text/css" href="{% static 'fileinput/css/fileinput.css' %}">

    <!-- bootstrap-select -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

    <!-- Bootstrap Datepicker-->
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
        rel="stylesheet">

    <!-- SimpleMDE -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

    {% endblock %}
</head>

<body>
    {% block content %}
    <div>
        {{ block.super }}
        <div class="modal fade" tabindex="-1"  role="dialog" aria-labelledby="ImageCropper"
         id="ImageCropperModal" data-backdrop="static" data-keyboard="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="CropModalTitle">
                        <h3>课程封面</h3>
                    </div>
                    <div class="EditArea">
                        <div class="ImageCropDiv">
                            <img id="ImageCropper" src="">
                            <p class="ImageResolution"></p>
                        </div>
                        <div class="PreviewArea">
                            <p>课程封面预览</p>
                            <div class="Preview">
                            </div>
                        </div>

                    </div>
                    <div class="ModalButtons">
                        <button class="ConfirmCrop btn btn-primary">确定</button>
                        <button class="CancelCrop btn btn-default">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="settingForm">
            <form enctype="multipart/form-data" class="form-horizontal" id="InfoForm">
                {% csrf_token %}
                <div class="form-group">
                    <div class="item form-Name">
                        <label for="Course_Name" class="control-label col-sm-2">课程名称:</label>
                        <input class="form-control" id="CourseIdInput" placeholder="课程名称" value="{{course.Course_Name}}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Course_Info" class="control-label col-sm-2">课程说明:</label>
                </div>
                <div class="form-group">
                    <div class="item form-Info">
                        <textarea name="CourseInfoTA" id="CourseInfoTA" class="MarkdownEditor form-control" rows="10"
                            placeholder="课程说明">{{ courseDetail.Course_Info }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="CourseGoal" class="control-label col-sm-2">课程目标:</label>
                </div>
                <div class="form-group">
                    <div class="item form-Goal">
                        <textarea name="CourseGoalTA" id="CourseGoalTA" class="MarkdownEditor form-control" rows="10"
                            placeholder="课程目标">{{ courseDetail.Course_Goal }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="GradeRequirements" class="control-label col-sm-2">成绩要求:</label>
                </div>
                <div class="form-group">
                    <div class="item form-Grade">
                        <textarea name="GradeRequirementsTA" id="GradeRequirementsTA"
                            class="MarkdownEditor form-control" rows="10" placeholder="成绩要求">{{courseDetail.Grade_Requirements}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Reference" class="control-label col-sm-2">参考资料:</label>
                </div>
                <div class="form-group">
                    <div class="item form-Refer">
                        <textarea name="ReferenceTA" id="ReferenceTA" class="MarkdownEditor form-control" rows="10"
                            placeholder="参考资料">{{ courseDetail.Reference }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="QA" class="control-label col-sm-2">常见问题:</label>
                </div>
                <div class="form-group">
                    <div class="item form-QA">
                        <textarea name="QATA" id="QATA" class="MarkdownEditor form-control" rows="10"
                            placeholder="常见问题">{{ courseDetail.QA }}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="item form-Img">
                        <label for="Course_Img" class="control-label col-sm-2">课程图片:</label>
                        <div class="imgUpload">
                            <div class="currentCover">
                                <p>当前课程图片</p>
                                <img src="{{img.url}}" id="CurrentCourseImage">
                            </div>
                            <div class="image-uploading">
                                <p>设置新的课程图片</p>
                                <img id="UploadedImage" src="/media/material/SM-placeholder.png">
                                <div class="ImageToolbar">
                                    <span id="uploadspan">上传封面</span>
                                    <span id="editspan">编辑封面</span>
                                </div>
                                <input id="input-CourseImage" name="input-CourseImage" type="file">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <span class="helper">
                        <p class="bg-info">快捷键：Lshift+F1: 新增一章；Lshift+F2: 新增一节; Lshift+DEL: 删除当前节点；回车：保存课程大纲</p>
                    </span>
                    <label for="Course_Category" class="control-label col-sm-2">课程大纲:</label>
                    <div id="tree"></div>
                </div>

                
                <div class="form-group">
                    <div class="item form-Category">
                        <label for="CourseCategory" class="control-label col-sm-2">课程分类:</label>
                        <select class="form-control" id="CourseCategory">
                            {% for category in categories %}
                            <option>{{category}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="item form-ETime">
                        <label for="{{settingForm.Ending_Time.id_for_label}}"
                            class="control-label col-sm-2">结课时间:</label>
                        <div class='input-group date' id='datetimepicker1'>
                            <input type="datetime" id="Ending_Time" class="dateTimeselector form-control col-sm-10" value="{{courseDetail.Ending_Time}}">  
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button id="submitForms" type="button" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div>
    </div>

    <!-- cropperjs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js" integrity="sha512-ooSWpxJsiXe6t4+PPjCgYmVfr1NS5QXJACcR/FPpsdm6kqG1FmQ2SVyg2RXeVuCRBLr0lWHnWJP6Zs1Efvxzww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- basic static -->
    <script src="{% static 'index/js/courseSetting.js' %}"></script>

    <!-- SimpleMDE -->
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <!-- FancyTree -->
    <script src="//cdn.jsdelivr.net/npm/jquery.fancytree@2.38.0/dist/modules/jquery.fancytree.js"></script>
    <script src="//cdn.jsdelivr.net/npm/jquery.fancytree@2.38.0/dist/jquery.fancytree-all-deps.js"></script>

    <!-- Bootstrap Fileinput -->
    <script src="{% static 'fileinput/js/fileinput.js' %}"></script>
    <script src="{% static 'fileinput/js/locales/zh.js' %}"></script>

    <!-- bootstrap-select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

    <!-- Bootstrap Datepicker-->
    <script src="https://cdn.bootcss.com/moment.js/2.22.0/moment-with-locales.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    {% endblock %}
</body>

</html>