{% load static %}
<!DOCTYPE html>
<html class="widthauto">

<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}iMooc 在线教育资源平台{% endblock %}</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'index/css/index.css' %}">
	<script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap-hover-dropdown/2.0.10/bootstrap-hover-dropdown.min.js"></script>
	<script src="//cdn.jsdelivr.net/jquery.color-animation/1/mainfile"></script>
	<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	{% block extrastatic %}
	{% endblock %}
</head>

<body>
	<div class="navbar head">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/index">iMooc 在线教育资源平台</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li><a href="#">测试选项1</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								下拉测试项目2
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">测试1</a></li>
							</ul>
						</li>
					</ul>
					<div class="nav-right-part">
						<div class="nav-right-search navbar-left" id="nav-right-search">
							<form class="navbar-form" role="form">
								<div class="form-group">
									<div class="input-group">
										<input type="text" class="form-control visible-lg-block visible-md-block"
											placeholder="搜索课程">
										<span class="input-group-btn">
											<button class="btn btn-primary glyphicon glyphicon-search" type="button"
												id="search-btn"></button>
										</span>
									</div>
								</div>
							</form>
						</div>
						<div class="nav-right-login navbar-right" id="nav-right-login">
							{% if request.session.is_login == True %}
							<ul class="nav navbar-nav">
								<li class="dropdown">
									<a href="#" id="user-info" class="dropdown-toggle" data-toggle="dropdown"
										data-hover="dropdown" data-delay="100">
										{{ request.session.user_name }}
										<span class="user-avatar">
											<img class="img-circle img-responsive dropdown"
												src="{{ request.session.avatar }}" alt="" width="35" height="33"
												id="avatar" />
										</span>
									</a>
									<ul class="dropdown-menu" id="user-info-dropdown">
										<li><a href="/setting">设置</a></li>
										<li class="divider"></li>
										<li><a href="/logout/">退出</a></li>
									</ul>
								</li>
							</ul>
							{% else %}
							<ul class="nav navbar-nav">
								<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
								<li><a href="/register"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
							</ul>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</nav>
	</div>

	<div class="container-fluid">
		{% block content %}
		{% endblock %}
	</div>

	<div class="infobar footer">
		<div id="footer">
			<div class="footer-logo">
				<a class="navbar-brand" href="/index">iMooc 在线教育资源平台</a>
			</div>
			<div class="footer-about col-lg-4 col-lg-offset-1">
				<h4 class="col-lg-12"><strong>关于我们</strong></h4>
				<h5 class="col-lg-4"><a href="/aboutus/">&nbsp;关于我们</a></h5>
				<h5 class="col-lg-5">&nbsp;联系我们</h5>
				<h5 class="col-lg-4">&nbsp;常见问题</h5>
				<h5 class="col-lg-5">&nbsp;意见反馈</h5>
			</div>
			<div class="footer-follow col-lg-offset-0 col-lg-2">
				<h4 class="col-lg-12 col-lg-offset-0"><strong>关注我们</strong></h4>
			</div>
		</div>
	</div>
</body>

</html>