<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册 iMooc 在线教育资源平台</title>
</head>
<body>
    <h1>注册</h1>
    <form>
        <fieldset>
            <legend>注册</legend>
                用户名：<input type="text" size="30">
                <br>
                &nbsp;&nbsp;&nbsp;密码：<input type="password" size="30">
                <br>
                &nbsp;&nbsp;&nbsp;邮箱：<input type="email" size="30">
                <br>
                    &nbsp;&nbsp;&nbsp;性别：<select name="gender">
                        <option value="male">男</option>
                        <option value="female">女</option>
                    </select>
                <input type="submit" value="提交">
        </fieldset>
    </form>
</body>
</html>