{% extends 'index/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extrastatic %}
    <link rel="stylesheet" type="text/css" href="{% static 'index/css/register.css' %}">
    <script src="{% static 'index/js/register.js' %}"></script>
    {% endblock %}
    <title>{% block title %}注册 iMooc 在线教育资源平台{% endblock %}</title>
</head>

<body>
    {% block log-reg-div %}
    <div class="row clearfix" id="reg-div">
        <div class="col-md-4 column">
            <div id="form-img">
                <img src="/media/material/psc.jpg" height="524px" width="450px" />
            </div>
        </div>
        <div class="col-md-4 column">
            {% if message %}
            <div class="alert alert-dismissable alert-warning">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>
                    错误!
                </h4> <strong>{{ message }}</strong>
            </div>
            {% endif %}
    
            <form role="form" action="/register/" method="POST" id="reg-form">
                {% csrf_token %}
                <div class="mui-textfield mui-textfield--float-label">
                    <input type="text" name="username" id="id_username">
                    <label for="name" id="lab_name">用户名</label>
                </div>
    
                <div class="mui-textfield mui-textfield--float-label">
                    <input type="password" name="password" id="id_password">
                    <label for="password">密码</label>
                </div>
                <div class="mui-textfield mui-textfield--float-label">
                    <input type="password" name="re_password" id="id_re_password">
                    <label for="password">再次输入密码</label>
                </div>
                <div class="mui-textfield mui-textfield--float-label">
                    <input type="email" name="email" id="id_email">
                    <label for="email">电子邮箱</label>
                </div>
                <div class="mui-select">
                    <select name="gender" id="id_gender">
                        <option value="male">男</option>
                        <option value="female">女</option>
                    </select>
                    <label for="gender">性别</label>
                </div>
                <div class="mui-checkbox form-group">
                    <label>
                        <input type="checkbox" checked id="id_agreed">同意
                        <a href="http://www.baidu.com">《网站服务条款》</a>
                    </label>
                    <a href="/login/" id="id_login">已有账号？登录</a>
                </div>
                <div class="form-group">
                    <button type="button" class="mui-btn mui-btn--primary col-lg-12" id="sub-btn">注册</button>
                </div>
            </form>
        </div>
        <div class="col-md-4 column">
        </div>
    </div>
    {% endblock %}
</body>

</html>