{% extends 'index/index.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extrastatic %}
    <link rel="stylesheet" type="text/css" href="{% static 'index/css/setting.css' %}">
    <script>    //实现点击列表项刷新iframe进入相应的设置页面，高亮已选项
        $(function () {
            $(".left-nav li").on("click", function () {
                $("li").removeAttr("class")
                $(this).attr({"class":"active"});
            });
        });
    </script>
    {% endblock %}
    <title>{% block title %}个人设置{% endblock %}</title>
</head>

<body>
    {% block content %}
    <div class="left-nav">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="/profile/" target="frame">个人资料</a></li>
            <li role="presentation"><a href="/avatar/" target="frame">修改头像</a></li>
        </ul>
    </div>
    <div class="setting-area">
        <iframe frameborder="0" scrolling="no" src="/profile/" id="setting-frame" name="frame"></iframe>
    </div>
    {% endblock %}
</body>

</html>