{% extends 'index/index.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extrastatic %}
    <link rel="stylesheet" type="text/css" href="{% static 'index/css/setting.css' %}">
    <script>    //实现点击列表项刷新iframe进入相应的设置页面
        $(function () {
            $(".left-nav li").on("click", function () {
                var address = $(this).attr("data-src");
                $("iframe").attr("src", address);
            });
        });
    </script>
    {% endblock %}
    <title>{% block title %}个人设置{% endblock %}</title>
</head>

<body>
    {% block content %}
    <div class="left-nav">
        <ul>
            <li data-src="/avatar/">修改头像</li>
            <li data-src="/profile/">个人资料</li>
            <li>账号安全</li>
        </ul>
    </div>
    <div class="setting-area">
        <iframe frameborder="0" scrolling="no" src="/profile/" id="setting-frame"></iframe>
    </div>
    {% endblock %}
</body>

</html>