.newAnnoForm label{
    width:fit-content;
    margin-left:15px;
    padding-left:0px;
}

.newAnnoForm{
    position:relative;
    display:block;
    float:right;
    background-color:white;
    margin:10px 0;
    padding:20px;
    box-shadow: 0 0 20px 0 rgb(12 1 4 / 5%);
    border-radius: 0px 0px 4px 4px;
    width:80%;
}

.newAnnoForm button{
    margin-left:15px;
}

.item input{
    border-radius: 4px 0px 0px 4px;
    width:75%;
}

.item textarea{
    width:85%;
}

#titleaddon{
    display:inline-block;
    width:10%;
    height:34px;
    padding-top:8px;
}

.historyAnno{
    position:relative;
    display:block;
    float:right;
    background-color:white;
    padding:20px;
    box-shadow: 0 0 20px 0 rgb(12 1 4 / 5%);
    border-radius: 0px 0px 4px 4px;
    width:80%;
}

.panel-title a{
    margin-left:30px;
}

.postTime{
    margin: 15px;
}

.btnheader{
    margin:0 15px;
}

.historyAnno .header button{
    margin-left:30px;
    margin-bottom:10px;
}

.bi{
    vertical-align:middle;
    margin-right:5px;
}