.PreviewContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.PreviewArea{
    height: 100%;
    width: 100%;
}

.OnlinePreviewFileList{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

ul.list-group {
    overflow-wrap: break-word;
}

.WideScreen{
    display: block;
    float: right;
    width:100%;
}

.WideScreenVideo{
    width:100%;
    height:700px;
}

.panel-group {
    width: 190px;
}

.panel-group a,li{
    cursor: pointer;
}