.content-container{
    position: relative;
    float:right;
    width: 80%;
    background-color:white;
    padding:20px;
    box-shadow: 0 0 20px 0 rgb(12 1 4 / 5%);
    border-radius: 0px 0px 4px 4px;
}

.button-group{
    margin-bottom: 20px;
}

.bi{
    vertical-align:middle;
}