.ExamPaperInfo {
    position:sticky;
    top:0px;
    border: 1px solid lightgrey;
    background:white;
    padding: 10px;
    font-size: 10px;
    margin: 10px;
}

.Timer {
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}

span#clock {color: limegreen;}