.container-fluid{
	margin: 0 auto;
	width: 1190px;
}
.navbar-default{
	width: auto;
	
}
#nav-right-search{
  position:relative;
  left: 300px
}
.infobar{
  position: relative;
  width: auto;
  height: 143px;
  background-color:#333;
}
#footer{
	width: auto;
	margin: 0 auto;
	width: 1190px;
}
.footer h4{
  color: #CCC;
}
.footer h5{
	color:#CCCCCC;
}
#avatar{
  position:relative;
  right:50px;
  bottom:28px;
}
#user-info{
  position:relative;
  height: 50px;
  width: 72px;
}
#search-btn{
  position: relative;
  top: 0px;
}