body {
	background-color: #f3f7f9;
}

.container-fluid {
	margin: 0 auto;
	width: 1190px;
	min-width: 1190px;
}
.navbar-default {
	width: auto;
}

#nav-right-search {
	position: relative;
	left: 280px;
}
.infobar {
	position: relative;
	width: auto;
	height: 143px;
	background-color: #333;
}
#footer {
	width: auto;
	margin: 20px auto;
	width: 1190px;
}
.footer h4 {
	color: #ccc;
}
.footer h5 {
	color: #cccccc;
}
#avatar {
	display: inline;
}
#nav-right-login {
	font-size: 16px;
	display: inline-block;
	padding:0px;
}

#userBox{
	position:relative;
	padding:7px;
    display:inline-block;
}

#search-btn {
	position: relative;
	top: 0px;
}

