.container{
    margin-top:-25px;
    margin-bottom:30px;  
    margin-left:-15px;
    min-width:1190px;
}

#indexCarousel{
    position: abs;
    float: right;
    right:205px;
    width: 730px;
    height: 330px;
}

.carousel-inner .item img{
    width:730px;
    height: 330px;
    max-height:330px;
}

.category{
    position: relative;
    float: left;
    width: auto;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgb(12 1 4 / 5%);
}

.category .header{
    margin-right:6px;
    font-size: 14px;
    color: black;
}

.category .item{
    font-size: 10px;
    color: #a7a7a7;
}

.category p{
    color: #a7a7a7;
}

.category .content{
    width: 200px;
    height: 34px;
    line-height: 34px;
    padding: 0px 10px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

.category p{
    display:initial;
}

#category-container{
    margin:12px 0;
}

#userInfo-container{
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    position: relative;
    float: right;
    width: 200px;
    height:330px;
    left:750px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgb(12 1 4 / 5%);
}

.avatar{
    position:relative;
    top:20px;
    text-align:center
}

.info1{
    position: relative;
    text-align: center;
    margin-top:24px;
}

.loginRegister{
    position: relative;
    padding: 6px 50px;
    top:80px;
    text-align: center;
    background-color: rgb(0,204,153);
    cursor: pointer;
    border-radius:50px;
}

.loginRegister p{
    position:relative;
    top:5px;
    color:#fff;
}

.username{
    position:relative;
    top:30px;
    font-size:16px;
    font-weight:400;
    text-align:center;
    color:#111;
    max-width:150px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.sub-content-area{
    position:absolute;
    background-color:#fff;
    z-index:999;
}

.subContainer{
    margin-bottom: 12px;
}

.websiteInfo{
    display:flex;
    flex-flow:column nowrap;
    background-color: #fff;
    align-items:center;
    width:1180px;
    height:60px;
    /*line-height:60px;*/
}

.websiteInfo p{
    position:relative;
    top:20px;
}

.Most-Popular{
    background-color:white;
    width:30%;
    margin:20px 0;
    padding:10px;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgb(12 1 4 / 5%);
}

.MPHeader{
    font-size:medium;
    font-weight:600;
    margin:10px;
}

.MPContent{
    margin:10px;
    cursor: pointer;
    overflow:hidden;
}

.CourseCover {
    width: 100px;
    display: inline-block;
    height: 60px;
    margin: 0px;
    overflow: hidden;
}

.CourseCover img{
    width: 100%;
}

.RankNumber{
    font-size:large;
    font-weight:700;
    vertical-align:top;
    margin-right:10px;
}

.Rank1{
    color:red;
}

.Rank2{
    color:rgb(255,101,0);
}

.Rank3{
    color:orange;
}

.RankCourseInfo{
    display:inline-grid;
    position:relative;
    vertical-align:top;
    margin-left:10px;
}

.RankCourseInfo p{
    margin-bottom:2px;
}

.courseName{
    font-size:medium;
}

.Teacher{
    font-size:small;
}

.stuCount{
    color:gray;
}