body{
    background-color: #f3f7f9;
}
#login-div{
    background-color: white;
    position:relative;
    height: 525px;
    margin: 200px auto 65px;
    min-height: 525px;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgb(12 1 4 / 5%);
}
#form-img{
    position: relative;
    right: 15px;
}
#nav-bar{
    box-shadow: 0 0 20px 0 rgb(12 1 4 / 5%);
}
#login-form{
    position:relative;
    height: auto;
    min-height: 200px;
    margin: 120px auto 100px;
    left:220px;
    top:25px;
}
/*
#test > input{
    border-color: red;
}
#test > label{
    color: red;
}
*/
#forget-password{
    position:relative;
    left:200px;
}
#register{
    position:relative;
    top:10px;
    left:310px;
  }