.mainContainer{
    float:right;
    width:80%;
    background-color:white;
}

.Return{
    display: none;
}

.WideScreen{
    display: block;
    float: right;
    width:100%;
}

td {
    position: relative;
}

.TimeSelector {
    display: flex;
}
