.mainContainer {
    float: right;
    width: 80%;
    background-color: white;
}

.remove,
.delete {
    cursor: pointer;
}

td.AnswerTd {
    width: 10%;
}

input.Option.form-control {
    width: 100%;
}

input#SubtableQuestion {
    width: 100%;
}

.questionLabel {
    padding-left: 8px;
}

th.AnswerHeader {
    width: 10%;
}

.QuestionID {
    padding-left: 10px;
}

textarea#SubtableQuestion {
    width: 100%;
    resize: vertical;
    height: 100px;
    min-height: 50px;
}

.TableBottom {
    display: flex;
    justify-content: space-between;
}

.CreatorArea {
    border-bottom: 2px solid darkgray;
    margin: 20px 10px;
}

.QuestionBankTable {
    margin: 20px 10px;
}

.ToolBar {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}

#addRow, #submit {
    margin-right: 10px;
    cursor: pointer;
    background: #437ab7;
    padding: 5px 10px;
    border-radius: 3px;
}
#addRow>span,#submit>span {
    color: white;
}