{% load static %}
<div class="PaperOverviewArea">
    {% for Paper in PaperList %}
    <div class="PaperInfoCard">
        <div class="Info">
            <div class="PaperName">
                <h3>{{Paper.PaperName}}</h3>
            </div>
            <div class="Duration">
                <span>考试时间: </span>
                <span>{{Paper.StartTime}} 至 {{Paper.EndTime}}</span>
            </div>
            <div class="Status">
                <span>考试状态: </span>
                <span>未开始</span>
            </div>
        </div>
        <div class="ButtonsBar">
            <button name="{{Paper.id}}" class="PreviewPaper">查看</button>
            <button name="{{Paper.id}}" class="DeletePaper">删除</button>
        </div>
    </div>
    {% endfor %}
</div>